[submodule "external/ponca"]
	path = external/ponca
	url = https://github.com/poncateam/ponca.git
[submodule "external/libigl"]
	path = external/libigl
	url = https://github.com/libigl/libigl.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/glad"]
	path = external/glad
	url = https://github.com/Dav1dde/glad.git
